[2015-08-19 19:57] mikeblum commented on #254
r12901 | mblum | 2015-08-19 14:55:53 -0500 (Wed, 19 Aug 2015) | 1 line

WIZARD - LEADING TO SEVERAL NON-REQUIRED PAGES #254. TS Subtrees works but having multiple sets of the same page being lead to causes issues.. see GH issue.

[2015-08-19 19:57] mikeblum commented on #254
is the above scenario I have laid out an actual situation?

[2015-08-19 20:15] mikeblum commented on #254
after talking to @benallenallen the scenario laid out above doesn't appear to be supported.

What is supported is the following:

[code]

[2015-08-19 20:15] #254 closed, assigned to mikeblum

[2015-08-20 20:09] mikeblum commented on #239
r12908 | mblum | 2015-08-20 15:04:33 -0500 (Thu, 20 Aug 2015) | 1 line
Changed paths:
   M /trunk/code/app/modules/wizard/activeform.js
   M /trunk/code/app/modules/wizard/activeformrouter.js
   M /trunk/code/app/modules/wizard/events/psieventmanager.js
   M /trunk/code/app/modules/wizard/events/ruleeventmanager.js
   M /trunk/code/app/modules/wizard/models/flowpath.js
   M /trunk/code/app/modules

[2015-08-20 20:09] #239 closed, assigned to mikeblum

[2015-08-20 20:11] mikeblum opened #255 "IE 9: radio buttons arn't triggering validation or rules"
It appears along the way radio button listeners in the controltypes.js are incompatible with IE 9. Wasn't able to reproduce in IE 10.

[2015-08-21 17:54] gsteimer commented on #254
@mikeblum - so wait, we still don't support the fololwing?:

[code]

Basically, a non required page leading to more than one page.  If that's not supported, I don't think we can close this issue.

[2015-08-21 18:20] gsteimer commented on #255
I'm fine with making this Upon Client Request.  Hopefully we don't see much IE9 going forward, and if we do, we can say that their forms can just use selects rather than radio buttons if they don't want to have us fix this issue.

[2015-08-25 15:22] gsteimer opened #256 "Allow all UTF-8 characters"
Currently, only normal keyboard characters are supported in the HTML5 Active Form module.  On edge2 there's a TS Non-English form.  Here's what I'm seeing:

First time through - things look good:

_Enter text, go forward then back_
![image](https://cloud.githubusercontent.com/assets/1377228/9470638/6d2e56f6-4b12-11e5-9745-06aa8d11b96c.png)

_summary page_
![image](https://cloud.githubusercontent.c

[2015-08-25 15:28] gsteimer opened #257 "Forms without an autonumber - name not picked up at the start of form"
See the screencam below:

![form-naming](https://cloud.githubusercontent.com/assets/1377228/9470980/f0bfce7c-4b13-11e5-9d72-69dc415fdd00.gif)

[2015-08-25 15:32] gsteimer opened #258 "Stop pages no longer stop"
See the screencam below.  Shouldn't a page without questions be considered a Stop page and prevent the user from finishing the form?

![stop-page](https://cloud.githubusercontent.com/assets/1377228/9471131/892dd122-4b14-11e5-86f1-d2a74a8fc00e.gif)

@mikeblum

[2015-08-25 15:33] gsteimer commented on #258
Also note that the screencam above shows incorrect behavior described in #257

[2015-08-25 15:38] dgrumieaux commented on #258
That's interesting since the page is still marked invalid. Technically that's all a STOP page is - an invalid page. I would be interested to see how this behaves if it was the second page of a form, and concerns me that any kind of invalid page no longer stops a user from completing.

[2015-08-25 15:40] gsteimer commented on #258
I don't think we need to worry about your larger concern.  I just tried it out with Simple CR:

![image](https://cloud.githubusercontent.com/assets/1377228/9471367/8e9df366-4b15-11e5-99b0-ca9447e372ce.png)

My guess is that this is just an issue with Stop pages, and possibly this edge case of _only_ having a single page with no answers.  Which obviously doesn't make sense.  @mikeblum do you rememb

[2015-08-25 15:48] gsteimer commented on #258
Yeah - this is definitely an issue with Stop pages.  I created `TS Stop Page` out on edge1 (I'll move it to edge2 in a sec):

![image](https://cloud.githubusercontent.com/assets/1377228/9471614/d2b91408-4b16-11e5-8959-1c518bf8c68c.png)

Even though I see a stop page, I can finish the form...

[2015-08-25 15:49] gsteimer commented on #258
Interestingly, if I actually do try to finish the form, I get an error:

![image](https://cloud.githubusercontent.com/assets/1377228/9471648/f224f67c-4b16-11e5-9af1-c968ba100990.png)

[2015-08-25 16:06] mikeblum commented on #256
I believe the root of the problem is how we are encoding the JSON string as it's being sent to OC/retrieved by the content/content call upon editing a saved  form. I'd be curious to see the raw JSON.

[2015-08-25 16:07] mikeblum commented on #258
So this looks like a validation issue with stop pages in particular.

[2015-08-25 19:26] grahamsinger commented on #257
Fixed with rev12937

The form name was correctly being passed in as a param and into wizard context. But the wizard context params get reset on every new page so the `reservedName` gets cleared out.  Now, we just set it on the first page to make sure it persists.

CR: MB

[2015-08-25 19:26] #257 closed, assigned to grahamsinger

[2015-08-27 15:26] grahamsinger opened #259 "Forms cannot be created in IE"
Trying to create a form in IE creates the URL:

`http://burling:9000/hpi/activeform/Simple%20CR/activeform/Simple%20CR/new/0`

when it should be:

`http://burling:9000/activeform/Simple%20CR/new/0`

[2015-08-27 15:30] gsteimer commented on #259
Hmm... the 'incorrect' URL is actually correct for edge1/2, right?  Since the `/hpi` context is created from the hpi.war.

However, when I try to create a form on edge2 using Simple CR - I just see this:

![image](https://cloud.githubusercontent.com/assets/1377228/9524809/821953f0-4ca6-11e5-9844-89f57aab7c1f.png)

[2015-08-27 16:00] grahamsinger commented on #259
Fixed. Awaiting CR

[2015-08-27 16:45] grahamsinger commented on #259
Fixed with rev12958

Used better practices when setting the url (i.e. `window.location.protocol + "//" + window.location.host +...`)

Tested creating and editing form in IE11, IE10, IE9, FF, Chrome

CR: DG

[2015-08-27 16:45] #259 closed, assigned to grahamsinger

[2015-08-28 16:06] gsteimer opened #260 "TS Calculations and TS Cascading Query - Questions are disabled when they shouldn't be"
See TS calculations on edge1 and edge2.  It seems that a bunch of questions that should be editable in the admin are uneditable in ActiveForm.  For example:

Admin:
![image](https://cloud.githubusercontent.com/assets/1377228/9551094/b37edf0e-4d74-11e5-8873-6f6e8b084747.png)

ActiveForm:
![image](https://cloud.githubusercontent.com/assets/1377228/9551106/bf69baf0-4d74-11e5-9e5d-ae93d595904b.png)

[2015-08-28 16:06] gsteimer commented on #260
Note - I also see this on many other pages in the TS Calculations form.

[2015-08-28 18:19] grahamsinger commented on #260
Fixed unit tested, awaiting CR.

[2015-09-02 15:23] mikeblum commented on #260
![selection_057](https://cloud.githubusercontent.com/assets/3905463/9635435/159fc7da-515c-11e5-874a-e9cc36d7ebe0.png)

On edge1, TS Cascasing Queries the first textbox that starts the chain of cascading queries is disabled. Removed the disabled class from the markup seems to work.

[2015-09-02 15:40] grahamsinger commented on #260
Fixed with rev12993.

We now have proper handling for when `disabled` is undefined in the PSI JSON. Unit Tested.

CR:MB

[2015-09-02 15:40] #260 closed, assigned to grahamsinger

[2015-09-02 16:33] mikeblum commented on #207
this affects a client branch. Looking into it.

[2015-09-02 16:45] mikeblum commented on #207
It appears that the order of the attributes matters, at least for the client branch. For the time being, this works:

[code]

which results in this on the workflow summary page:

![selection_059](https://cloud.githubusercontent.com/assets/3905463/9637732/0514f51e-5168-11e5-9c55-7dbd99761dac.png)

[2015-09-02 17:11] mikeblum commented on #207
@dgrumieaux

[2015-09-02 17:55] mikeblum opened #261 "TS Cascading: retain selected options from tossacross when changing query"
Will need to support a `growable` aspect in trunk so that toss across doesn't blank out when the query changes.

Right now, whenever we change the parent query that a tossacross control uses, we're removing what the user previously selected. Should this be configurabnle or become the default behavior for toss-acrosses  in the Wizard?

[2015-09-02 17:57] gsteimer commented on #261
In the old wizard, any selected option was still selected if the query re-ran and the value was not returned by the query.  I think this is fine to make core behavior.

[2015-09-04 19:33] grahamsinger commented on #261
Fixed with rev 13022.

Added a `growable` aspect which won't clear previously selected values on a query change.  Currently only being added to tossacross(multiselect).

[2015-09-04 19:33] #261 closed, assigned to grahamsinger

[2015-09-18 05:20] mikeblum opened #262 "Edge1 Edge2, and local builds: can't edit forms"
On edge1, edge 2, and a local alfresco build, getting what looks like a DFC exception when attempting to load a form in the AW Admin.

Build command was ant buildAll -Doverlay=ALFRESCO

<img width="910" alt="screenshot 2015-09-18 00 16 58" src="https://cloud.githubusercontent.com/assets/3905463/9952439/389a81ee-5d9b-11e5-9eb8-3499fc9af828.png">

trace:

[code]

[2015-09-18 14:07] gsteimer commented on #262
This is a problem with the OC streaming updates that @benallenallen put in.  I think we're going to revert the change temporarily to accommodate some demos early next week and then try to actually fix the issue mid next week.

[2015-09-18 14:20] mikeblum commented on #262
We need to be careful about the rollback, I tried rolling back to the
commits before the memory fixes and ran into the 401 Not Authorised bug.

http://10.1.1.14:8080/WizardAdmin/login

On Fri, Sep 18, 2015 at 9:07 AM George Steimer notifications@github.com
wrote:

[2015-09-18 15:46] gsteimer commented on #262
Fixed by @benallenallen in OC rev 12608

CR: me

[2015-09-18 15:46] #262 closed, assigned to nobody

[2015-09-18 15:46] gsteimer commented on #262
@mikeblum - I pushed edge1 and edge2 builds, so this should be working now

[2015-09-18 15:55] mikeblum commented on #262
😃

On Fri, Sep 18, 2015, 10:46 AM George Steimer notifications@github.com
wrote:

[2015-09-24 19:45] gsteimer opened #263 "HTML Tags display in page description on status pane"
See the screenshot below.  If you have HTML tags in your page description, they show up in the status pane:

![image](https://cloud.githubusercontent.com/assets/1377228/10084516/7877cd3e-62c9-11e5-9c9b-50ef59ffa8b2.png)

I understand why we do that - since the status pane cuts off the description,  we don't want to display invalid HTML on the page (which would screw up the rest of the page markup)

[2015-09-24 19:54] mikeblum commented on #263
I would argue since the help text div already copes with HTML markup, the page description and other areas should do the same. Super easy fix to add {{{ }}} around that div in the html template. I think right now its just {{ }} (2 vs 3 curly braces). Its like a 2 sec fix.

http://stackoverflow.com/a/20280656/1377866

[2015-09-24 19:57] gsteimer commented on #263
@mikeblum - yeah, that's a better solution, assuming it accommodates the way we cut off the description.  For example, in my screenshot, the text ends with `<u...`.  If we were to use your approach, is there a chance the markup would get messed up from a cut-off description?

[2015-09-24 20:00] mikeblum commented on #263
Ah yes, I forgot we truncated descriptions. I think we already expect html but don't account for the truncation scenario. One interesting case will be if an HTML-escaper like $jQuery can correctly escape invalid markup like what you have above or if it becomes a borked string.

[2015-09-24 20:01] gsteimer commented on #263
I was thinking we'd strip the HTML first and then truncate to avoid that issue...

[2015-09-24 20:03] mikeblum commented on #263
right you are.

We'll just want to make sure we don't strip the html markup for the full description that the user sees when they go to a page (what we see below the title there)

[2015-09-29 16:30] mikeblum commented on #263
Escalating this to high priority as I just got an email from a client pointing out this issue.

[2015-10-01 23:02] renesaladrigas commented on #263
ACTIVE FORM -- Tags are no longer displayed in the page description on the status pane and the message is truncated to 78 chars.

CR - MBlum
Fixed with revision #13203

[2015-10-02 15:07] renesaladrigas commented on #263
Corrected previous commit to pass unit tests that were failing.
Revision #13205

[2015-10-02 15:07] #263 closed, assigned to renesaladrigas

[2015-10-02 21:55] mikeblum opened #264 "Manage Security is broken"
Can't edit lifecycles for the Wizard form states:

![selection_083](https://cloud.githubusercontent.com/assets/3905463/10258741/58857efa-6926-11e5-8b46-e91544044cc3.png)

[2015-10-02 22:02] gsteimer commented on #264
I think this looks worse than it is. I'm pretty sure the AW admin had a small issue where the admin thinks the configured ACLs aren't there, but that's just because it's indirectly looking for an ACL called "Lifecycle Default", which obviously doesn't exist.

If you save on this screen, does it go back to normal?

[2015-10-02 22:02] benallenallen commented on #264
I may have lied to you @mikeblum

I think that "error" always shows up until you actually select a different acl.

[2015-10-02 22:10] mikeblum commented on #264
Save is disabled and I can't click any dropdowns to change the lifecycle.

[2015-10-02 22:18] gsteimer commented on #264
I'm pretty sure you have to check out the page set first

[2015-10-02 22:27] mikeblum commented on #264
@gsteimer you're correct, need to checkout first.  Closing...

[2015-10-02 22:27] #264 closed, assigned to nobody

[2015-10-06 21:36] mikeblum opened #265 "Disabled Controls"
Right now only Textboxes and typeahead controls can be disabled by configuration in the AW Admin:
- [x] Textboxes
- [x] Text Areas
- [x] Dateboxes
- [x] Typeahead
- [x] Radio buttons
- [x] Checkboxes
- [x] Toss-Across (this is a complicated one)
- [x] WYSWIG (also pretty interesting)
- [x] Number
- [x] Email
- [x] Telephone
- [x] Multi-Text input (disable adding and removing values)
- [x] Files
-

[2015-10-09 14:37] gsteimer commented on #222
@mikeblum @RudraVishweshwar - I just tried this again and I can't get copy/paste to work on any browser (Chrome, FF, or IE11)

[2015-10-09 15:00] RudraVishweshwar commented on #222
so ctrl +v works but when you click on the icons in the tool bar it doesnt work but the console doesnt throw any exception. with the latest version of ckeditor.

[2015-10-09 15:08] gsteimer commented on #222
@RudraVishweshwar - `ctrl-v` does not work for me.  What browser are you using?

[2015-10-09 15:12] RudraVishweshwar commented on #222
chrome. you have to download the lastest version n ck editor

[2015-10-09 16:52] gsteimer commented on #222
@mikeblum @RudraVishweshwar - just so you know, I tried copy/paste using a CKEditor in Folder Notes on edge2 and it worked fine...

[2015-10-09 21:34] mikeblum commented on #255
need to get this working for a demo.

[2015-10-12 14:41] mikeblum commented on #256
![utf_encoding_tomcat](https://cloud.githubusercontent.com/assets/3905463/10430547/7134d9d6-70c5-11e5-823c-26ff44d3cfbd.jpg)

from @ikaikajcorrea - it looks like we just need to configure our tomcat.

[2015-10-12 15:00] ikaikajcorrea commented on #256
Adding the URIEncoding parameter to our tomcat/conf/server.xml configuration allowed for our client's Search Portal to search against Japanese characters.

[2015-10-12 20:32] gsteimer commented on #256
I just tried this on edge1's tomcat, but it's not working - it still garbles the characters after editing the form:

![image](https://cloud.githubusercontent.com/assets/1377228/10437929/18ade7d6-70f6-11e5-8de8-5392b85e6e77.png)

Based on this doc: http://wiki.apache.org/tomcat/FAQ/CharacterEncoding, I think the problem is that the `URIEncoding` setting only affects `GET` requests.  The next thing

[2015-10-14 15:07] mikeblum commented on #265
r13369 | mblum | 2015-10-13 16:29:25 -0500 (Tue, 13 Oct 2015) | 1 line
Changed paths:
   M /trunk/code
   M /trunk/code/app
   M /trunk/code/app/modules/common/tossacross.js
   M /trunk/code/app/modules/wizard/activeform.js
   M /trunk/code/app/modules/wizard/activeformrouter.js
   M /trunk/code/app/modules/wizard/formfields/aspects.js
   M /trunk/code/app/modules/wizard/formfields/fieldfactory.js

[2015-10-14 15:09] mikeblum commented on #256
updated the HPI wiki accordingly:

https://github.com/tsgrp/hpi/wiki/Installation-guide#utf-8-encoding

Issue remains with Asiatic (Korean, Chinese, Japanese) languages in Wizard Forms. The issue lies with how iText XMLWorker processes XML/HTML.

[2015-10-14 15:11] mikeblum commented on #222
@RudraVishweshwar - did this fix go in along with sectional lockdown?

[2015-10-14 16:11] RudraVishweshwar commented on #222
Yes I used the sectional lockdown branch

On Wed, Oct 14, 2015 at 10:11 AM, Michael Blum notifications@github.com
wrote:

[2015-10-14 16:12] mikeblum commented on #222
#265 - fixed and tested on edge.

[2015-10-14 16:12] #222 closed, assigned to RudraVishweshwar

[2015-10-15 14:18] gsteimer commented on #110
@mikeblum - correct me if I'm wrong, but did this go in with the fixes for #265?

[2015-10-15 14:19] gsteimer commented on #265
@mikeblum @RudraVishweshwar - I cannot edit an existing form on edge1 or 2.  All of the fields are disabled, even though the form is in Draft:

![image](https://cloud.githubusercontent.com/assets/1377228/10516620/c3de3c3a-731e-11e5-9591-699f49086c28.png)

![image](https://cloud.githubusercontent.com/assets/1377228/10516632/d0979bc4-731e-11e5-8580-b805a8d49a27.png)

[2015-10-15 14:23] gsteimer opened #266 "Cannot create AW form"
May be related to the issues in #265 - I can no longer create forms on edge1 or edge2.  It just sits there at the create wizard form spinner.  No errors in the OC log. JS Console is showing:

![image](https://cloud.githubusercontent.com/assets/1377228/10516528/55f27ab0-731e-11e5-8aa0-59c130ba08f6.png)

[2015-10-15 14:32] gsteimer commented on #266
When fixing this, we also should test that forms can be finished and rendered to PDF properly (first time through as well as editing).

@dhartman25 was seeing some issues yesterday where a form could be edited, but the PDF rendition wasn't generating properly.

[2015-10-15 15:18] gsteimer commented on #266
@mikeblum - looks like this is working on edge1 & 2 now.  Can you comment and close?

[2015-10-15 15:20] gsteimer commented on #265
with @mikeblum's recent updates, I can now create a form and edit it.  However, if I try to edit a form that I created before the updates, it still is showing disabled controls.

[2015-10-15 15:22] gsteimer commented on #265
Also - while looking at the disabled controls, I noticed there's an issue with disabled radio buttons.  The actual radio button is correctly disabled and not changeable, but clicking on the button label changes the value fine.  See the gif below.  We need to validate this works properly for checkboxes as well.

![aw-disabled-radio](https://cloud.githubusercontent.com/assets/1377228/10518367/b1011b

[2015-10-15 16:05] #266 closed, assigned to mikeblum

[2015-10-15 16:12] mikeblum commented on #265
so it appears there was a bug in the page set instance provider that i fixed in the sectional lockdown but all fields were getting the disabled aspect silently.

[code]

This has since been fixed for new forms going forward. The only current solution is to edit the json manually for older forms with this issue.

[2015-10-15 16:15] mikeblum commented on #265
Looking at the SVN logs it appears this issue affects forms created between 8/10/2015 and 10/13/2015. Shouldn't affect any clients.

[2015-10-15 16:19] mikeblum commented on #228
TODO: copy WizardHelper.sendWorkflowEmail to send a submit timing email that contains the form and any supporting docs attached to the form.

[2015-10-15 16:26] gsteimer opened #267 "Cannot Edit a form in review"
This was supposedly working according to: https://github.com/tsgrp/ActiveWizard/issues/86#issuecomment-73900140

However, when I try to edit a form during the review route on Documentum, I get this error:

![image](https://cloud.githubusercontent.com/assets/1377228/10520367/52776ef2-732f-11e5-85a1-077fb4d56c48.png)

The OC exception is:

[code]

It seems to be an ACL issue, but I don't know what h

[2015-10-15 17:06] gsteimer opened #268 "Sectional Lockdown - ability to restrict a page to all users"
When using Sectional Lockdown, there is no way to denote that a page should be locked down for all users.  If, on the page, you simply do not configure any roles, this causes the page to always be editable (which is what we want).

This enhancement would give the admin a way to denote that the page should be locked down for all roles/users.

[2015-10-15 17:08] gsteimer commented on #268
As a workaround in the meantime, you could simply define a role that is never tripped in the form, and then give that role edit access to the page.

[2015-10-15 18:11] mikeblum commented on #268
Could we support just checking the Sectional Lockdown checkbox and then adding no roles and support that configuration in the Wizard?

[2015-10-15 18:12] gsteimer commented on #268
Yep - that's what I tried to do in the admin, but when you go to save the page like that the code unchecks the box, so it's impossible.

[2015-10-15 18:24] gsteimer commented on #110
Testing on edge1 with `TS Sectional Lockdown` - it looks like when a page is open to any role, I am still locked out of the page:

![image](https://cloud.githubusercontent.com/assets/1377228/10523429/0fdbd798-7340-11e5-80a8-47958d811e89.png)

I'm logged in as the 'AW admin' approver that can edit page 1.

[2015-10-15 18:25] gsteimer commented on #110
As in #267, I cannot finish a form in the approval route:

![image](https://cloud.githubusercontent.com/assets/1377228/10523481/3ba36652-7340-11e5-985f-97627a17c773.png)

[2015-10-15 18:33] gsteimer commented on #267
No sure how this worked in the past, but the error makes sense - the `wf_approval_details` object gets the `wizard_wizard_acl`.  This ACL only gives delete access to the `dm_owner` and `admingroup`.

@dgrumieaux @benallenallen - what do you guys think?  Wizard contribs have delete access on the `wizard_draft_acl`.  Do we think it's OK to give contribs DELETE access on the `wizard_wizard_acl`?  Or

[2015-10-15 18:42] gsteimer commented on #268
Ok - I was getting confused on this one.  We're ok here.  Here's how Sectional Lockdown works:
1. If no pages are locked down, all pages are open
2. As soon as one page is locked down to a role, all pages that do not have sectional lockdown configured are locked down.  Essentially - editing becomes opt in, which makes this issue moot.
3. If you want all roles to be able to edit a page, just add al

[2015-10-15 18:42] #268 closed, assigned to nobody

[2015-10-15 22:06] dhartman25 opened #269 "Cannot Edit Form That Contains Supporting Doc"
When editing a form that contains a supporting document, the form will not finish in Alfresco because it errs on the addRelation call. This is Alfresco specific - the form will finish correctly in a Documentum environment.

[2015-10-15 22:08] gsteimer commented on #269
This was working fine before the two big merges yesterday. Could this have something to do with the addRelation updates that were part of the hotdocs merge?

[2015-10-15 23:12] dgrumieaux commented on #267
Should editing in review actually be trying to delete the wiz workflow def in the first place?

[2015-10-16 13:38] gsteimer commented on #267
We can talk more about this during the weekly meeting today.  When editing in review, the form _shuold_ re-evaluate workflow rules based on form edits and the workflow summary page should display.  When editing during the approval route, the form _should NOT_ re-evaluate workflow rules.  The entire workflow summary page should be skipped.

Whether or not the workflow def gets deleted, it'll defini

[2015-10-16 14:17] gsteimer commented on #269
Here's the error:

[code]

Based on the error, is the problem that the code is trying to attach the supporting document again?

@mikeblum

[2015-10-16 14:19] gsteimer commented on #269
Update - I think the problem is definitely that the code is not correctly realizing that the document is already attached.  If I edit the form, remove the supporting doc and add a new one, it works perfectly fine.

[2015-10-16 14:21] mikeblum commented on #269
Yes, for some reason, even though the relation already exists from looking at the node browser:

attachedDocType=aw:attached_doc
supportingDocRelationName={http://www.activewizard.com/model/content/1.0}supportingDocument

and tested the /getChildRelations endpoint and the attached doc comes back correctly. For some reason, this line here:

[code]

is failing when simply resubmitting a form with a

[2015-10-16 14:22] gsteimer opened #270 "Supporting Docs - Remove confirmation message does not show document name"
See the screenshots below:

**Attached Document**
![image](https://cloud.githubusercontent.com/assets/1377228/10544133/51417920-73e7-11e5-8a22-2eb9d259cf2e.png)

**Remove Confirmation Message**
![image](https://cloud.githubusercontent.com/assets/1377228/10544151/61e5cee8-73e7-11e5-85b1-75ffd168af16.png)

[2015-10-16 14:25] mikeblum commented on #265
Since there are no code changes to fix this I'll close it.

[2015-10-16 14:27] gsteimer commented on #265
@mikeblum - we can't close this until the errors with radio (and possibly checkbox) are fixed.

[2015-10-16 14:50] RudraVishweshwar commented on #265
Fixed with revision 13406. Radio Buttons and Checkboxes now work with disabled controls.

[2015-10-16 14:50] #265 closed, assigned to RudraVishweshwar

[2015-10-16 15:00] gsteimer commented on #256
@mikeblum - this is not fixed, even for non-asiatic languages.  Here are some issues:

After editing the form, the accents are garbled in ActiveForm as well as the PDF:

![image](https://cloud.githubusercontent.com/assets/1377228/10544948/c889c042-73eb-11e5-8eb0-904759b92384.png)

![image](https://cloud.githubusercontent.com/assets/1377228/10544973/ed561308-73eb-11e5-965a-cb699597c34a.png)

This w

[2015-10-16 15:03] gsteimer commented on #256
Also - something really odd related to accented characters in the actual form (not the answers).

The first time though, the spanish question on page 2 looks like this:
![image](https://cloud.githubusercontent.com/assets/1377228/10545161/ea8f6d30-73ec-11e5-93ac-cca9d5b04a7f.png)

And the PDF:

![image](https://cloud.githubusercontent.com/assets/1377228/10545178/ff4b7390-73ec-11e5-958d-be3977e260a3

[2015-10-16 15:35] RudraVishweshwar commented on #270
Fixed with revision 13410. The alert box now displays document name.

[2015-10-16 15:35] #270 closed, assigned to RudraVishweshwar

[2015-10-16 22:27] mikeblum commented on #269
It appears in DCTM we are adding dual supporting doc relations upon save:

3700000680000adb    aw_rel_supporting_document  0900000680002b34    0900000680002b23
3700000680000ae9    aw_rel_supporting_document  0900000680002b34    0900000680002b23

We need to look into the logic responsible for removing the relation or not.

Looking deeper at it, the suppoirting document is getting re-added to the fo

[2015-10-19 15:09] dgrumieaux opened #271 "Option to auto-signoff when wf initiator is approver on his own form"
Basically, you shouldn't have to sign off on your own Change Request in some client scenarios. It would be nice to work like Replicon's approval system where the auto-approve happens when you're submitting your own timesheet. This should be possible using the Activiti listeners.

[2015-10-19 15:12] dgrumieaux commented on #271
We would want this to be configurable to be on or off, though, some clients will want to still have people sign off manually on their own tasks. Especially when the workflow has users changing the documents or the change requests throughout the process of approval.

[2015-10-19 15:14] gsteimer commented on #271
@dgrumieaux - technically this should go in the HPI GitHub - I'd like to reserve this one for Active Form and AW Admin...

[2015-10-19 16:54] mikeblum commented on #228
The `TS Timing Emails` form in hpi_dev_71 covers the various types of timing emails. Needs to be migrated over the the edge environments.

r12864 | mblum | 2015-10-19 10:57:23 -0500 (Mon, 19 Oct 2015) | 1 line

Timing email Cleanup: timings are now constants on WizardHelper: "approve", "reject", or "submit". Added a proper log statement if parsing timing emails fails for whatever reason.

r12861 |

[2015-10-19 16:55] mikeblum commented on #269
r12857 | mblum | 2015-10-19 10:25:21 -0500 (Mon, 19 Oct 2015) | 1 line

Merging in fix for Supporting Documents in Wizard: https://github.com/tsgrp/ActiveWizard/issues/269

[2015-10-19 16:55] #269 closed, assigned to mikeblum

[2015-10-19 18:15] gsteimer commented on #228
@mikeblum - we can't close this until the streamline mode issue is fixed

[2015-10-19 18:45] dgrumieaux commented on #271
@gsteimer - ok sounds good. i'll close here and open there.

[2015-10-19 18:46] dgrumieaux commented on #271
https://github.com/tsgrp/hpi/issues/857

[2015-10-19 18:46] #271 closed, assigned to nobody

[2015-10-21 19:53] stinachen opened #272 "Testing needed for workflow task assignee"
Removed line for setting `bpm_assignees` in `ActivitiWorkflowImpl#setTaskAssignee` since it did not seem to have a purpose (OC Revision #12926). Needs testing to see if it is needed or not for Wizard. Ask @dgrumieaux for details

[2015-10-22 18:14] gsteimer commented on #267
Update - it seems like this is only happening in approval routes.  Could this be because it's not processing the workflow rules?

@mikeblum

[2015-10-22 21:11] gsteimer opened #273 "Folder Property Inheritance - Property Integrity Over Time"
When a client sets up folder property inheritance, we currently have nothing that keeps the integrity of the properties updated over time.  For example, for the Insurance reference trac - this scenario can occur:
1. Admin sets up policy documents to inherit from the Policy Folder
2. User checks in documents, certain values like policy number, insured name, etc. inherit down to the document.
3. At

[2015-10-22 21:21] zkeller commented on #273
While it isn't through HPI or OC code, for alfresco, we have the folder inheritance amp that was recently updated to keep folder and document property values in sync when the folder values change. It does that through a behavior.

[2015-10-22 21:23] gsteimer commented on #273
@zkeller - Interesting, is it configurable enough to handle any client scenario?

@joehof @dhartman25 - Dave was asking me to add this for your current client.  Can we just use the AMP Zaq mentioned and call it good?

[2015-10-22 21:28] zkeller commented on #273
It is pretty generic - in a props file in the amp you specify the properties/aspects that are inherited, and you list the types you want to run the behavior on, then you set up the folder inheritance rule on the folder (which syncs up properties when a document enters the folder).

[2015-10-22 21:40] gsteimer commented on #273
@zkeller - nice, thanks.  @joehof / @dhartman25 - can either of you verify if this will work for your current client as-is or do we need any more development time?

[2015-10-22 22:19] mikeblum commented on #267
*\* OC Update Required **

r12950 | mblum | 2015-10-22 17:09:25 -0500 (Thu, 22 Oct 2015) | 1 line

WIZARD WORKFLOW DEFINITION: deleting a workflow definition (case where a form with workflow has no approvers) can safely be deleted by non-form owners. CR dgrumieuax

HPI:

r13518 | mblum | 2015-10-22 16:57:33 -0500 (Thu, 22 Oct 2015) | 1 line

WIZARD WORKFLOW: fix for depending on the form type - ca

[2015-10-22 22:19] #267 closed, assigned to nobody

[2015-10-22 22:36] mikeblum opened #274 "Wizard Form Owner changed to the Logged-In User after editing a form"
When a wizard form is edited, the Owner Name is updating to the currently logged in user. Shouldn't this stay as the initial form initiator rather then updating to follow the latest form editor?

[2015-10-23 01:22] benallenallen commented on #274
Form owner = last person to edit it
Creator = person that created the form initially (never changes once set)
Workflow Initiator = user that started the workflow

@gsteimer - agree?

[2015-10-23 14:04] mikeblum commented on #274
![selection_088](https://cloud.githubusercontent.com/assets/3905463/10694644/f00ab68e-7964-11e5-81e4-8d6d9c658850.png)

Got confused with the naming.

Looks like form owner and creator are working as expected. Closing..

[2015-10-23 14:04] #274 closed, assigned to nobody

[2015-10-23 14:05] dhartman25 commented on #273
@gsteimer - this sounds like it should satisfy what our client needs.

[2015-10-23 15:07] gsteimer commented on #273
Closing - moved to https://github.com/tsgrp/hpi/issues/869

[2015-10-23 15:07] #273 closed, assigned to nobody

[2015-10-23 15:32] gsteimer commented on #274
@benallenallen @mikeblum - let's talk about this more during next week's AW meeting.  I feel like different clients will want this to behave differently.

[2015-10-23 15:58] mikeblum commented on #258
r13525 | mblum | 2015-10-23 10:52:42 -0500 (Fri, 23 Oct 2015) | 1 line

WIZARD - STOP PAGES: a page with no questions is now invalid. Issue: https://github.com/tsgrp/ActiveWizard/issues/258

[2015-10-23 15:58] #258 closed, assigned to nobody

[2015-10-26 16:35] gsteimer commented on #228
@mikeblum  - it looks like on edge 1 I'm always getting an email when I submit a form. This should only happen if a submit timing rule is tripped.

[2015-10-26 16:38] gsteimer opened #275 "While editing a form, the user should be prompted if navigating away or closing the browser."
See how OA works:

![image](https://cloud.githubusercontent.com/assets/1377228/10735441/f7297040-7bd5-11e5-960e-ee0d2ba6b6c1.png)

If the user actually does navigate away, we should cancel the checkout (assuming the form has been created and it's not the first time through).

Note from @mikeblum - use the `ExitService`

[2015-10-26 17:02] mikeblum commented on #275
http://svn.tsgrp.com/repos/hpi/feature_branches/exit_service

[2015-10-26 18:09] gsteimer opened #276 "Sectional Lockdown - Date formatting in approval table"
When an editing a form with sectional lockdown enabled, it's possible to navigate to a page that displays the list of approvers on the form.  When displaying this table, the date column should be formatted according to the date format settings in Application Config.

![image](https://cloud.githubusercontent.com/assets/1377228/10737915/cffb1ce6-7be2-11e5-9db9-f0aa0ae656fa.png)

[2015-10-26 18:14] mikeblum commented on #276
The reason for this was the call to fetch the date format was asynchronous. Is there a way for us to get the format synchronously?

[2015-10-26 18:16] gsteimer commented on #276
Not sure - @joehof do you know?

[2015-10-26 18:29] mikeblum commented on #110
Revision: 13369
Author: mblum
Date: Tuesday, October 13, 2015 4:29:25 PM
Message:

## SECTIONAL LOCKDOWN: support for disabling all the control types for the Wizard and the various Sectional Lockdown scenarios.

Modified : /trunk/code
Modified : /trunk/code/app
Modified : /trunk/code/app/modules/common/tossacross.js
Modified : /trunk/code/app/modules/wizard/activeform.js
Modified : /trunk/code/app

[2015-10-26 18:29] #110 closed

[2015-10-27 14:30] zkeller opened #277 "Pre-populate Form Questions - Needs to be feature complete"
Working on the Contract Management solution to pre-populate questions, I ran into an issue with filling in an email question. It filled in the field, but validation didn't get triggered, so the question/page was marked as invalid. After talking with @mikeblum, this turns out to not be a fully tested feature. If we want this to be something we use in the future, we will need to ensure it works for

[2015-10-27 14:41] dgrumieaux commented on #277
Yes - in the meantime, using non-validated text fields does work. You can disable the fields too if you want to prevent user modification.

[2015-10-27 14:42] dgrumieaux commented on #277
The two other new features I'd throw out as options are:
- "Invisible" fields, so that external properties can drive Wizard workflow.
- Making questions whose options are populated via query work with prepopulation.

[2015-10-27 16:19] RudraVishweshwar commented on #228
Fixed with OC Revision: 12981.

CR-MB

*\* OC Update Required **

[2015-10-27 16:21] mikeblum commented on #228
still need to keep this open for streamline support.

[2015-10-27 20:55] gsteimer opened #278 "Multiple Leading Actions on one Question - no longer working"
@mikeblum - can you take a look at Simple CR on edge1/2?  Something in the code you changed for leading actions is causing the "Description and Rationale" leading actions to fail.  It looks like only the last leading action (go to the file input page) is working.  When I click to enter text into this form, the corresponding page does not appear.

![aw-leading](https://cloud.githubusercontent.com/a

[2015-10-27 21:08] dhartman25 commented on #278
@gsteimer @mikeblum - yes, this breaks the "Master Services Agreement" form for my demo

[2015-10-27 22:57] mikeblum commented on #278
r13576 | mblum | 2015-10-27 17:33:49 -0500 (Tue, 27 Oct 2015) | 1 line
Changed paths:
   M /trunk/code/app/modules/wizard/services/pagesetinstanceprovider.js
   M /trunk/code/test/tests/modules/wizard/services/pagesetinstanceproviderSpec.js

WIZARD PSI PROVIDER: fix for forms like Simple CR and TS Timing Emails with many non-required pages originating from a required page (Simple CR) as well as si

[2015-10-27 22:57] #278 closed, assigned to mikeblum

[2015-10-29 19:42] gsteimer commented on #275
See also: #242 and https://github.com/tsgrp/hpi/issues/784

[2015-10-29 21:54] bridgetbol opened #279 "IE9: Supporting Docs causing upload failure"
When creating a form using IE9, an error message occurs stating, "Failed to get resource /OpenContent/rest/action/execute 500 Failed to retrieve questions and answers from the page set instance."

[code]

[2015-10-29 22:48] mikeblum commented on #255
r13605 | mblum | 2015-10-29 17:25:58 -0500 (Thu, 29 Oct 2015) | 1 line
Changed paths:
   M /trunk/code/app/modules/wizard/views/controltypes.js

WIZARD + IE 9: Support for radio buttons in IE 9 and uploading supporting docs. For some reason this issue with supporting docs has been stealthy up to this point. Here is an interesting article as to why the assumption of having a listener doesn't work.

[2015-10-29 22:48] #255 closed, assigned to mikeblum

[2015-10-29 22:48] mikeblum commented on #279
r13605 | mblum | 2015-10-29 17:25:58 -0500 (Thu, 29 Oct 2015) | 1 line
Changed paths:
   M /trunk/code/app/modules/wizard/views/controltypes.js

WIZARD + IE 9: Support for radio buttons in IE 9 and uploading supporting docs. For some reason this issue with supporting docs has been stealthy up to this point. Here is an interesting article as to why the assumption of having a listener doesn't work.

[2015-10-29 22:48] #279 closed, assigned to nobody

[2015-11-06 22:14] gsteimer opened #280 "Timing Emails - Form PDF attached to email does not have view time overlays"
When sending timing emails, the form PDF gets attached to the email.  However, view time overlays are not applied  (Ex: form status in the top right)

![image](https://cloud.githubusercontent.com/assets/1377228/11010019/74c05cf2-84a1-11e5-9b7e-d99a36b32b22.png)

[2015-11-11 20:35] gsteimer commented on #280
Sounds like this is an issue with the overlay config vs. anything code related.  We need to include the `ocEmail` restriction and set it to `true`

@benallenallen - can you check to see if there's a way to do this with one overlay rather than duplicating?  You mentioned something about a client doing something with regex...

[2015-11-11 20:44] gsteimer commented on #280
Looks like one client has something like this:

[code]

This isn't exactly what we want, but at least shows us that regex is possible in the overlay restriction value.  We essentially want something that says:  Accept the restriction as true if `ocEmail` is blank/null OR 'true'.  Once we figure that out, we won't have to duplicate the overlays to handle this issue.

[2015-11-11 23:09] renesaladrigas commented on #280
OPENOVERLAY: adding ocEmail restrictions to aw_attached_docs as well as Wizard Page_Set_Instances and simple_cr so overlays are applied to email attachments for timing emails in the Wizard.

CR - MBlum
Revision 13166

[2015-11-24 17:30] #280 closed, assigned to renesaladrigas

[2015-11-30 16:24] gsteimer commented on #151
We need a generic condition for this.  See here: https://github.com/tsgrp/OpenContent/issues/47

[2015-12-01 21:40] dhartman25 opened #281 "Non-required select box errors on PDF creation"
Form with non-required select box and no value selected throws an error on PDF creation.

Snippet from error:
Caused by: org.json.JSONException: JSONObject["value"] not found.
       at org.json.JSONObject.get(JSONObject.java:516)
       at org.json.JSONObject.getString(JSONObject.java:687)
       at com.tsgrp.opencontent.wizard.PSIJSONUtil.jsonToPdf(PSIJSONUtil.java:440)
       ... 41 more

[2015-12-01 21:45] mikeblum commented on #281
This will be an OC fox in PSIJSONUtil:jsonToPdf. We may also want to look at indexQuestionsAndAnswers in the same file. Can we go ahead and create a TS Non-Required questions with each page having the same question (required vs non-required).

To date this has been fixed on a per-client form basis - lets resolve it once and for all.
- [ ] Select Box
- [x] Date box
- [ ] Multi Text Input
- [ ] Mult

[2015-12-01 21:51] gsteimer commented on #281
I'm surprised we don't have a TS page set yet.  Let's call it `TS Optional Questions` though

[2015-12-01 21:53] dhartman25 opened #282 "Date Picker only goes 10 years back"
Date picker in ActiveForm doesn't allow for the selection of any dates further back than 10 years. This doesn't work for questions such as "Date of Birth"

![image](https://cloud.githubusercontent.com/assets/4128978/11515448/98c16db6-9843-11e5-9000-c8185254653e.png)

[2015-12-01 22:08] grahamsinger commented on #282
Did you try opening and closing it a couple times?  I've noticed similar things happen before and I was able to go back further after opening and closing the datepicker.

[2015-12-01 22:11] dhartman25 commented on #282
It looks like every time I open date picker, it recalculates 10 years before and after the chosen date.

[2015-12-01 22:13] grahamsinger commented on #282
OK, yeah, just a thought.  I was doing it in formsupport, so there must be a difference in how that is handled there and in the Wizard.

[2015-12-22 17:07] mikeblum commented on #282
resolved by adding this to the datepicker config:

[code]

Should we make this configurable for clients? I imagine controlled docs clients would have specific thing like not having an effectie date from the past.

[2015-12-29 18:04] ZachGerth opened #283 "Forms Restricted to only Wizard Administrators"
Running trunk OC, HPI, and Alfresco 4.2.1, in the wizard-alfresco project, I encounter an issue where only wizard administrators are able to create a Simple CR, where the form was created using the psa tool and the Simple CR available in HPI setup-aw.

Screenshot of wizard administrator able to create form:
![image](https://cloud.githubusercontent.com/assets/14186924/12039221/13ed6bac-ae24-11e5-96

[2016-01-04 14:46] gsteimer commented on #283
@ZachGerth - I just tried creating a Simple CR on edge2 with a non-AW admin user and it worked fine.  I think this is an issue with your environment, and not a code problem.  Feel free to reopen this if you disagree.

[2016-01-04 14:46] #283 closed, assigned to nobody

[2016-01-04 15:43] gsteimer commented on #282
@mikeblum - I think we can make this configurable if needed, but it's fine to be in code for now.  Future/Past type things should be handled with #103.

Given that, should this be closed?

[2016-01-11 18:59] gsteimer opened #284 "Calculations cannot include a calculated field"
Currently, a calculated field cannot include another calculated field as an operand.  The admin interface does not even include these fields as options when setting up a calculation.
- [ ] AW Admin - allow calculation fields as operands to other calculations
- Active Form
  - [ ] Normal numbers
  - [ ] Currency

[2016-01-11 19:04] gsteimer opened #285 "Invalid answer mask - text indicates that an answer isn't present"
See the screenshot below.  I have a 'number' answer mask on this question, but the validation display text  incorrectly says that I haven't entered a value:

![image](https://cloud.githubusercontent.com/assets/1377228/12243376/c864c668-b863-11e5-9956-f3862fc05495.png)

[2016-01-11 19:17] mikeblum commented on #285
This is because the validation code attempts to convert the text to a number  - if that fails it blanks the value on the model. We need to re-evaluate how we handle number validation.

[2016-01-11 19:41] gsteimer opened #286 "Calculations should be able to operate across pages"
Currently, in the AW Admin, you can only pick questions from the given page for calculations.  From talking to @mikeblum, the ActiveForm code should be able to operate on fields from more than one page, so this could be an admin change only (no changes needed to Active Form code).
- [ ] AW Admin - allow admin to operate on questions from more than one page (see more notes below)
- [ ] Active Form

[2016-01-18 18:02] ZachGerth commented on #256
In https://github.com/tsgrp/hpi/issues/932, we weren't actually ensuring the JSON was in UTF-8 format before reading in from the byte stream - if we specified UTF-8, it fixed the issue where comments with non-UTF-8 characters were breaking the parsing - Java tries to find the UTF-8 equivalent, if one existed. This may be applicable to whoever looks into this issue later down the line.

[2016-02-03 20:59] gsteimer opened #287 "Form creation fails intermittently"
When creating a form, sometimes the PDF rendition fails with the following error:

[code]

From talking to @mikeblum, we think it may be an intermittent issue with non-required text fields.

[2016-02-04 17:10] alieblich commented on #287
fixed in OC rev 13711

[2016-02-04 17:10] #287 closed, assigned to nobody

[2016-02-24 14:17] benallenallen commented on #151
Commit a fix in OC 13909 that added the "condition-isobjectcurrent-conditionevaluator" condition to the resumeForm action that prevents a user from being able to do this. Tested on edge1 and edge2.

CR George

[2016-02-24 14:17] #151 closed

[2016-03-01 20:28] gsteimer opened #288 "Table view - add new row doesn't work in mobile view and other issues"
See the screencam below.  Clicking the add new row button while in mobile view adds the row, but doesn't actually display the row in the mobile view.  In the example below, once I switch to mobile view, I click the add row button three times.  Nothing happens in mobile view, but switching to desktop shows that the rows actually are added:

![table-mobile-view](https://cloud.githubusercontent.com/a

[2016-03-16 15:10] gsteimer opened #289 "Admin Facelift - missed dropdowns"
It looks like a couple dropdowns were missed in the effort to close #248:

![image](https://cloud.githubusercontent.com/assets/1377228/13817189/4919e54e-eb5f-11e5-871c-201e6df22fc2.png)

We should update these to the new formatting.

[2016-03-16 15:13] gsteimer commented on #289
Note that the query variables dropdown is unique in a couple of ways:
- A dropdown is generated dynamically for each query variable available in the given query.  Some queries have no variables, others have multiple.
- Users must be able to select a value _or_ type in arbitrary text

[2016-04-15 16:04] gsteimer commented on #206
Re-opening this.  TS Cascading Query is broken again on edge1.  The server 500's on the first page with this:

[code]

[2016-04-15 20:23] mikeblum opened #290 "Resume Form - not checking out Wizard Form"
![selection_219](https://cloud.githubusercontent.com/assets/3905463/14573912/ecb2eff4-031d-11e6-966a-3b661d1d7ed2.png)

Editing a Wizard form should checkout the form and lock it from other users.

Checkout scarios:
- [x] Resume Form action
- [x] /activeform/{form id}/new
- [x] /activeform/{form id/new/{page #}

put all checkout tests in the router.

[2016-04-18 15:45] gsteimer opened #291 "Passthrough Queries Fail"
On edge1, all of the queries on the TS Passthrough Queries form fail with the error below:

[code]

Forms like Simple CR that use query beans seem to be working fine...

[2016-04-18 20:00] mikeblum commented on #290
r14864 | mblum | 2016-04-18 14:43:23 -0500 (Mon, 18 Apr 2016) | 1 line
Changed paths:
   M /trunk/code/app/modules/wizard/activeformrouter.js
   M /trunk/code/test/tests/modules/wizard/activeformrouterSpec.js

Wizard - Resume Form is now a deferred that attempts to checkout the Wizard form in the /activeform router - rather than at the action level. **OC Update required** CR gsteimer for OC and HP

[2016-04-18 20:00] #290 closed, assigned to mikeblum

[2016-04-18 20:24] mikeblum commented on #291
r14216 | mblum | 2016-04-18 15:16:44 -0500 (Mon, 18 Apr 2016) | 1 line
Changed paths:
   M /webservices/trunk/SourceCode/OpenContent/modules/tsg/3.wizard/src/com/tsgrp/opencontent/wizard/core/Wizard2Impl.java

don't try to stringify HashMap parameters for Passthrough queries - TS Cascading Queries back to normal. Closing https://github.com/tsgrp/ActiveWizard/issues/291

[2016-04-18 20:24] #291 closed, assigned to nobody

[2016-04-18 20:24] mikeblum commented on #206
r14216 | mblum | 2016-04-18 15:16:44 -0500 (Mon, 18 Apr 2016) | 1 line
Changed paths:
   M /webservices/trunk/SourceCode/OpenContent/modules/tsg/3.wizard/src/com/tsgrp/opencontent/wizard/core/Wizard2Impl.java

don't try to stringify HashMap parameters for Passthrough queries - TS Cascading Queries back to normal. Closing https://github.com/tsgrp/ActiveWizard/issues/291

[2016-04-18 20:24] #206 closed, assigned to nobody

[2016-04-28 15:28] gsteimer commented on #121
It looks like something changed where reordering a table row causes the row to completely disappear until it is dropped:

![table-view-laf](https://cloud.githubusercontent.com/assets/1377228/14891308/ca08c4f2-0d2b-11e6-870c-97102aa6f032.gif)

It also looks like something changed with the styling of the remove row button.  That icon seems to not be vertically aligned properly.

[2016-05-27 14:24] gsteimer commented on #288
Looking at this again - something happened to table view in mobile where it's not grouping the sections properly anymore:

![image](https://cloud.githubusercontent.com/assets/1377228/15610807/c5db5b24-23ec-11e6-9e11-5853afcbd3bc.png)

instead of grouping each row together, it looks like it's grouping the columns.

[2016-06-21 19:32] mikeblum opened #292 "PSI to PDF generation fails with deeply nested pages"
In TS Leading Actions (found on edge1) the failure can be replicated by answering Page 1, question 2, answer 5 and continuously lead to other pages.  On edge2 we have TS Same Page for a simplified approach of:

`A -> B -> D`

`A -> C -> D & E`

Issue is in OpenContent in `PSIJSONUtil.java`:

[code]

Note this recurisve function throws a NullPointer exception at: `if(childPage.getBoolean("visible")

[2016-08-02 20:42] gsteimer opened #293 "Required Page '+' sections in admin do not show up on Alfresco 5.1"
On Alfresco 5.1 (and, I'm guessing Alfresco 5.0 as well), the sections in the admin that allow you to expand required pages to see the optional pages that it leads to do not display.

_Edge - Simple CR (Alfresco 4.2.x)_
![image](https://cloud.githubusercontent.com/assets/1377228/17344393/7fd78764-58c7-11e6-8c15-c456c91f0bc0.png)

_Local Alfresco 5.1.1_
![image](https://cloud.githubusercontent.com/

[2016-08-02 20:48] gsteimer commented on #293
When this issue is fixed in OC: https://github.com/tsgrp/HPI/issues/1151, it will fix this issue in AW Admin

[2016-08-03 18:38] gsteimer commented on #293
Fixed with OC Rev 14947

[2016-08-03 18:38] #293 closed, assigned to gsteimer

[2016-08-26 19:56] gsteimer opened #294 "New Hidden Question option doesn't default properly"
See the screencam below - when a question doesn't have the new "Make this question Hidden" option selected, saving the page (without choosing a hidden value) defaults the question to hidden.

![aw-form-admin-hidden-default](https://cloud.githubusercontent.com/assets/1377228/18018560/3b94cd80-6b9d-11e6-9f36-656069eb63d5.gif)

[2016-09-06 16:35] alieblich commented on #294
fixed with rev#7714

[2016-09-06 16:35] #294 closed, assigned to nobody

[2016-09-23 16:14] mikeblum opened #295 "OCMS Picklist Support - Datalists"
Currently only `simple` and `opencontent` picklists are supported by the HPI Picklist query type for Wizard forms. We need to support all the types of HPI picklists. Currently Datalists throw an error.

Picklist types to test:
- [ ] simple
- [ ] opencontent
- [ ] datalist

See /picklists in OpenContent for a list of the available picklists. HPI admin as well.

[2016-10-20 19:31] rosenoam opened #296 "Wizard Admin Randomly Deletes all Pages of Wizard Form"
Created three page forms, activated it and published it. Form was still there and all the versions were still there but there were no pages present after logging back into Active Wizard.

![screencapture-release2-tsgrp-wizardadmin-login-1476991693899](https://cloud.githubusercontent.com/assets/22036850/19574922/ea4d4e56-96d1-11e6-8e2f-37524725231a.png)
![screencapture-release2-tsgrp-wizardadmin-lo

[2017-01-09 22:35] gsteimer opened #297 "Wizard Admin - Editing a Page Set Def checks in a 0 byte file"
Tested on edge1 and edge2.

[2017-01-10 15:08] gsteimer opened #298 "Cannot enter hard break in a textarea"
When editing a textarea question, it's impossible to use `Enter` to add a hard break.  Many clients ask for this.  Is there a reason why we did this?

Interestingly enough, if I use Notepad, I can copy/paste text into a text area and it looks fine:

![image](https://cloud.githubusercontent.com/assets/1377228/21811017/a75ee820-d713-11e6-8c19-8f70a8eccc49.png)

However, the summary page and the PDF

[2017-01-10 15:12] gsteimer opened #299 "WYSIWYG Fields do not display properly in Adobe Forms"
See the screenshots below.  WYSIWYG fields pass through raw HTML to the Adobe form.  Perhaps we need to run each value through a simple FTL first before passing to adobe?

![image](https://cloud.githubusercontent.com/assets/1377228/21811250/a1d8c078-d714-11e6-8608-2985d0713b8b.png)

![image](https://cloud.githubusercontent.com/assets/1377228/21811288/c9ce7820-d714-11e6-8987-83373093b9ab.png)

[2017-01-10 17:30] gsteimer commented on #297
Fixed with OC Commit 15785.  CR: @b-k-white

[2017-01-10 17:30] #297 closed, assigned to gsteimer

[2017-02-02 16:46] gsteimer commented on #25
Updating this issue.  The HPI 2.0 client branch mentioned above is far enough off of trunk that it can't be a straight code merge.  Here's what we need to do:

**Wizard Admin**
1. Update the admin to allow for user-input rules (group-input rules?) when a role is group-based.  It currently only allows the admin to update top level rules when the role is group-based.

**HPI/OC**
1. If the role is gr

[2017-02-03 18:48] grahamsinger opened #300 "Display Value doesn't always persist"
When navigating back to a page from the summary view, the `displayValue` is lost—only persisting if the question is re-answered.

![wizard_values_labels](https://cloud.githubusercontent.com/assets/8784597/22603948/019290f4-ea0f-11e6-9ca8-f6973fd8ba8b.gif)

I can say for sure that this currently happens for the following control types (check when fixed):

- [ ] Radio Buttons
- [ ] Checkboxes

[2017-02-04 02:12] mikeblum commented on #300
![screenshot 2017-02-03 20 05 16](https://cloud.githubusercontent.com/assets/3905463/22614798/20ca2a70-ea4d-11e6-852b-ffae0fd0d019.png)

Chrome Edge2

[2017-02-06 19:47] Swence32 opened #301 "Update document.title when navigating between pages"
Update `document.title` with context of the current page to update the history appropriately

[2017-02-06 20:12] grahamsinger commented on #300
@mikeblum that's what the gif shows

[2017-02-22 19:40] gsteimer opened #302 "Number-based workflow rules do not work with currency formatted fields"
If you have a textbox formatted with a Currency mask like this:
![image](https://cloud.githubusercontent.com/assets/1377228/23229046/6cc7acd4-f904-11e6-92cb-e0c41e204d1d.png)

a workflow rule like this fails:
![image](https://cloud.githubusercontent.com/assets/1377228/23229011/4992d432-f904-11e6-834b-0cf3c14c0002.png)

Here's the error:
![image](https://cloud.githubusercontent.com/assets/1377228/2

[2017-03-21 15:55] gsteimer commented on #121
Fixed in HPI 2.5

[2017-03-21 15:55] #121 closed

[2017-03-21 15:56] gsteimer commented on #288
Fixed in HPI 2.5

[2017-03-21 15:56] #288 closed, assigned to nobody

[2017-07-17 16:30] gsteimer commented on #247
According to @aviking - this is still an issue.  Avi - can you commit when you get the chance?

[2017-07-18 19:03] aviking commented on #247
Closed with OC Commit: 16909

CR: George S.

[2017-07-18 19:03] #247 closed, assigned to aviking

[2017-07-19 14:43] gsteimer commented on #296
Closing this - can't reproduce

[2017-07-19 14:43] #296 closed, assigned to nobody

[2018-09-18 18:42] gsteimer commented on #86
Closing this - @grahamsinger verified that the remaining two items (edit controlled doc in review / approval) now works with Chain Versionable in Alfresco.  If your project is still using the legacy pre-CVN code, there's a fix on project Turntables UAT branch.

[2018-09-18 18:42] #86 closed

[2019-01-29 17:52] gsteimer opened #303 "Cannot work with user rules until users are added to the role"
When creating a role, the users list in the role defaults to empty:

![image](https://user-images.githubusercontent.com/1377228/51928731-31edc280-23bc-11e9-88e6-f5510e81cdd6.png)

With this list empty, the User Rules section fails when you click the `New Rule` button a server error (see below).

To workaround the issue, add at least one user to the role before working with User Rules.

Error on th

[2019-01-29 17:55] gsteimer commented on #303
Note - just tried this on edge2 and it works fine, so marking this issue as Documentum

[2019-03-13 18:40] renesaladrigas commented on #105
LEADING RULE - Adding support to leading rule criteria values. Configuring a criteria value on a leading rule will take precedence in the equality check to determine if we are going to a new page, then defaulting to checking if the value is equal to the hard coded answer value. Fixes GH issues: https://github.com/tsgrp/HPI/issues/1797 and https://github.com/tsgrp/ActiveWizard/issues/105

CR - nqui

[2019-03-13 18:40] #105 closed

[2020-05-27 13:08] mwojno-tsg commented on #256
This issue was fixed within OC commit #25373 and AW commit #7807.
- For AW, `<%@ page contentType="text/html; charset=UTF-8" %>` was added to the headers of `.jsp` files that were missing it. When you add a page, question, or answer now it should always be encoded to `utf-8` , which is the expected encoding across AW.

- For OC, wizard specific code of `PDFUtil` and `FinishAndSubmitActionExecuter`

[2020-05-27 13:08] #256 closed, assigned to nobody

[2020-06-05 15:17] mwojno-tsg opened #304 "Query Action Drop-downs Broken & Misaligned"
### Overview:
- The drop-downs for the query action are broken as seen in the issue gif below. They are also misaligned (not on the same line as the input tag)

### Issue Gif:
![ezgif com-video-to-gif (1)](https://user-images.githubusercontent.com/54864662/83890432-63457380-a711-11ea-91ea-178114f8b620.gif)

### Solution:
- The solution was rearranging the div's and placing the button div/span that

[2020-06-05 16:04] mwojno-tsg commented on #304
This issue was closed at Active Wizard at revision: 7809. The following solution was detailed above^

[2020-06-05 16:04] #304 closed, assigned to mwojno-tsg

[2020-06-05 16:23] mwojno-tsg opened #305 "Update All Buttons To New Style And Fix Styling If Applicable"
### Overview
- The buttons throughout Active Wizard were updated when html was upgraded. This got rid of buttons like shown below for a Query Action that are now very old.
- However, some places were forgotten and not updated. In other places, the buttons were updated but the styling doesn't quite fit with the surrounding html elements (too large in most cases).
- See the screenshots below.

### S

[2020-12-08 17:11] abrown45 commented on #103
### Date Future and Date Past
#### Investigate workflowruleevaluator.js
- Before and After
- options.target === Date Saved
#### Investigate controltypes.js
- Date Model (how can we do a rules check here to set it outside of validation

`$("#datepicker").datepicker({ maxDate: new Date, minDate: new Date(2007, 6, 12) });` great example to limit dates. datepicker options

[2020-12-08 17:53] abrown45 commented on #103
`validationservice.js` Validation.compare.date. regex etc